 Archivos generados por Python
*.pyc
__pycache__/

# Entorno virtual
venv/

# Archivos de configuración local
*.env

# Archivos de registro y salida
*.log
*.txt

# Archivos de base de datos
*.db

# Carpeta de dependencias
/venv/

