{% extends 'core/base.html'%}
{% load static %}
{% block title %}Agregar receta{% endblock %}

{%block content %}

<h1>Agregar receta</h1>
<form action="{% url 'agregar_receta' %}" method='POST'>
    {% csrf_token %}

    {{ form.as_p }}
    
    <input type="submit" value='Crear receta y guardar en MIRecetario'>
    <div> ¿No está el ingrediente que necesitas?   
        <a href="{% url 'agregar_ingrediente' %}">
        <button type="button">Agregar Ingredientes</button>
    </a>
    </div>
</form>

{% endblock %}