{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/mystyles.css' %}">
    <link rel="shortcut icon" href="{% static 'core/img/Heladeracirculo.ico' %}" type="image/x-icon">
    {% block extra_css%}{%endblock%}   
    <title>{% block title %}{% endblock %}</title>
    
</head>
<body class="contenedor">
    <header class="header">
        <img src="{% static 'core/img/Logo_titulo.png' %}" alt="Logo">
        {% comment %} <div>
            <form action="">
                <label for="name" class="">Nombre</label>
                            
                            <input type="text" 
                                  id="nombre" 
                                  name="nombre"
                                  placeholder="Ingrese el nombre" 
                                  >
                                   
                    <div class="col-3 ">
                        <button class="btn btn-primary mt-4">Buscar</button>
                    
                
            </form>
        </div>
         {% endcomment %}
         {% comment %} <form method="post" action="{% url 'buscar_recetas' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Buscar</button>
        </form> {% endcomment %}
        
            
        
        <div>
            <a href="{% url 'login' %}">Iniciar sesión</a>
            <a href="{% url 'signup' %}">Registrarse</a>
        </div>
    </header>
    <nav class="nav">
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'buscar' %}">Buscar</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'recetario' %}">Recetario</a></li>
                <li><a href="{% url 'agregar_receta' %}">Agregar receta</a></li>
            {% endif %}
        </ul>

    </nav>
    <subtitle class="subtitle">
        {%block subtitle %}{% endblock %}
    </subtitle>
    <main class="main">
        {%block content %}{% endblock %}
    </main>
    <footer class="footer">
        © 2023 ¿Qué comemos? · Privacidad · Términos · Mapa del sitio

    </footer>
    
</body>
</html>
