{% extends 'core/base.html'%}
{% load static %}
{% block title %}Editar receta{% endblock %}
{%block subtitle %}Editar receta{% endblock %}
{%block content %}
<div class="container p-3">
<form class="form-control mb-3" enctype="multipart/form-data" action="" method='POST'>
    {% csrf_token %}

    {{ form.as_p }}
    
    
    
       
       
        <div>
            <input type="submit" value='Modificar' class="btn btn-success">
        </div>
        
    </div>
</form>
</div>

{% endblock %}





