{% extends 'core/base.html'%}
{% load static %}
{% block title %}¿Qué comemos?{% endblock %}


{%block content %}
<div class="container bg-success p-3">
    <form method="post" action="{% url 'buscar' %}" class="d-flex" >
      {% csrf_token %}
      
      <input class="form-control me-1" type="search" name= "ingrediente" placeholder="¿Qué hay en tu heladera?" aria-label="Search">
      <button class="btn btn-outline-dark m-1" type="submit">Buscar</button>
    </form>

<div>

{% comment %} <p>1. Ensalada de Pollo a la Parrilla:
</p>
<p>    Ingredientes:
</p>
<p>    -Pechugas de pollo (cantidad según el número de comensales)
</p>-Mezcla de lechugas (puedes usar bolsas premezcladas)
<p>
</p>-Tomates cherry, cortados por la mitad
<p>
</p>-Pepino, cortado en rodajas
<p>
</p>-Zanahorias, ralladas
<p>
</p>-Aderezo de tu elección (vinagreta, ranch, balsámico, etc.)
    </div>


<div><p>2. Pasta con Salsa de Tomate y Albóndigas:
</p>   
    <p>Ingredientes:
    </p>
 <p>   -Pasta de tu elección
</p><p>   -Albóndigas (pueden ser caseras o compradas)
</p><p>   -Salsa de tomate (puedes usar una salsa lista o hacer la tuya con tomates triturados, ajo, cebolla, albahaca y orégano)
</p><p>   -Queso parmesano rallado (opcional)
</p>
   </div> {% endcomment %}

{% endblock %}
