{% extends 'core/base.html'%}
{% load static %}
{% block title %}¿Qué comemos?{% endblock %}
{%block subtitle %}<h3>Sugerencias para hoy</h3>{% endblock %}

{%block content %}

<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At id minus ut porro incidunt eius architecto cum commodi molestiae magnam!
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod dolorum eligendi velit minima soluta, explicabo vitae quas nemo incidunt, doloribus quibusdam earum asperiores repellat animi alias autem voluptatibus exercitationem rem. Nisi enim consectetur blanditiis libero sequi, modi placeat tenetur saepe, in, obcaecati voluptatem esse. Eius nihil, omnis alias repellat quas ipsum et, minus odit aperiam quidem adipisci maxime facilis sit optio itaque laboriosam eaque officiis? Voluptas vel libero commodi doloremque quasi eaque. Qui modi tenetur adipisci autem quo, id fugiat inventore magni quasi sint aliquid saepe commodi vitae cum et iusto quibusdam? A quis veritatis eaque ipsam autem officiis corporis.</div>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At id minus ut porro incidunt eius architecto cum commodi molestiae magnam!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod dolorum eligendi velit minima soluta, explicabo vitae quas nemo incidunt, doloribus quibusdam earum asperiores repellat animi alias autem voluptatibus exercitationem rem. Nisi enim consectetur blanditiis libero sequi, modi placeat tenetur saepe, in, obcaecati voluptatem esse. Eius nihil, omnis alias repellat quas ipsum et, minus odit aperiam quidem adipisci maxime facilis sit optio itaque laboriosam eaque officiis? Voluptas vel libero commodi doloremque quasi eaque. Qui modi tenetur adipisci autem quo, id fugiat inventore magni quasi sint aliquid saepe commodi vitae cum et iusto quibusdam? A quis veritatis eaque ipsam autem officiis corporis.</div>
{% endblock %}
