{% extends 'core/base.html'%}
{% load static %}
{% block extra_css%}<link rel="stylesheet" href="{% static 'core/css/recetariost.css' %}">{%endblock%}
{% block title %}Recetario{% endblock %}
{%block subtitle %}<h3>Mi recetario</h3>{% endblock %}
{%block content %}
<div>
    {% if mi_recetario_list %}
    <tr>
        {% for item in mi_recetario_list %}
            <h1><td>{{ item.recetas.nombre }}</td></h1>
            <td>{{ item.recetas.dificultad }}</td>
            <td>
                {% for ingrediente in item.recetas.ingredientes.all %}
                    <li>{{ ingrediente.nombre }}
                {% endfor %}</td>
        
            <td>{{ item.recetas.descripcion }}</td>
                    
    </tr>
    <td><a href="{% url 'editar_receta' item.recetas.id %}">Modificar</a></td>
    <td><a href="{% url 'eliminar_receta' item.recetas.id %}">Eliminar</a></td> 
        {% endfor %}
    </ul>
    
{% else %}
    <p>No hay recetas en tu MiRecetario.</p>
{% endif %}
{% comment %} <ul>
    {% for receta in recetas %}
    <div>
        <tr>
            <td>{{ receta.nombre }}</td> 
            <ul>
                {% for ingrediente in receta.ingredientes.all %}
                    <li>{{ ingrediente.nombre }}</li>
                {% endfor %}
            </ul>
            <td>{{ receta.dificultad }}</td>
            <td>{{ receta.descripcion }}</td> 
        </tr> 
        <td><a href="{% url 'editar_receta' receta.id %}">Modificar</a></td>
        <td><a href="{% url 'eliminar_receta' receta.id %}">Eliminar</a></td>
    <div>    
    {% endfor %}
</ul>

</div>
{% endcomment %}
{% endblock %}