{% extends 'core/base.html'%}
{% load static %}
{% block extra_css%}<link rel="stylesheet" href="{% static 'core/css/recetariost.css' %}">{%endblock%}
{% block title %}Recetario{% endblock %}
{%block subtitle %}<h3>Mi recetario</h3>{% endblock %}
{%block content %}
<div>

<ul>
    {% for receta in recetario %}
        <li>
            <p>{{ receta }}</p>
            <a href="{% url 'editar_receta' %}">Modificar</a>
            {% comment %} <p>{{ recetas.ingredientes }}</p>
            <p>{{ recetas.dificultad }}</p>
            <p>{{ recetas.descripcion }}</p> {% endcomment %}
            
        </li>
    
    {% endfor %}
</ul>
</div>

{% endblock %}