{% extends 'core/base.html'%}
{% load static %}
{% block extra_css%}<link rel="stylesheet" href="{% static 'core/css/recetariost.css' %}">{%endblock%}
{% block title %}Recetario{% endblock %}
{%block subtitle %}<h3>Mi recetario</h3>{% endblock %}
{%block content %}

<div>
    <p>Ingrediente</p>
    <span>{{ ingrediente }}</span>
</div>

<div class="receta"><h4>Receta</h4>
    <img src="{% static 'core/img/comida.jpg' %}" alt="Logo"><br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nihil laudantium eos quam esse, voluptates rem vel accusantium dignissimos vero.
</div>
<div class="receta"><h4>Receta</h4>
    <img src="{% static 'core/img/comida.jpg' %}" alt="Logo"><br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nihil laudantium eos quam esse, voluptates rem vel accusantium dignissimos vero.
</div>
<div class="receta"><h4>Receta</h4>
    <img src="{% static 'core/img/comida.jpg' %}" alt="Logo"><br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nihil laudantium eos quam esse, voluptates rem vel accusantium dignissimos vero.
</div>
<div class="receta"><h4>Receta</h4>
    <img src="{% static 'core/img/comida.jpg' %}" alt="Logo"><br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nihil laudantium eos quam esse, voluptates rem vel accusantium dignissimos vero.
</div>
<div class="receta"><h4>Receta</h4>
    <img src="{% static 'core/img/comida.jpg' %}" alt="Logo"><br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nihil laudantium eos quam esse, voluptates rem vel accusantium dignissimos vero.
</div>
<div class="receta"><h4>Receta</h4>
    <img src="{% static 'core/img/comida.jpg' %}" alt="Logo"><br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nihil laudantium eos quam esse, voluptates rem vel accusantium dignissimos vero.
</div>


{% endblock %}