{% extends 'core/base.html'%}
{% load static %}
{% block title %}Recetario{% endblock %}
{%block subtitle %}Resultados de la búsqueda para "{{ ingrediente }}"{% endblock %}

{%block content %}

{% if recetas %}
<table class="table p-3">
    <thead >
        <tr>
            <th>Nombre</th>
            <th>Dificultad</th>
            <th>¿Qué querés hacer?</th>
        </tr>
    </thead >
    <tbody >
        {% for receta in recetas %}
            <tr>
                <td class="m-3">{{receta.nombre}}</td>
                <td class="m-3">{{receta.get_dificultad_display}}</td>
                {%include 'core/botones.html'%}
            </tr>
        {% endfor %}

    </tbody>
</table>

{% else %}
    <p>No se encontraron recetas con ese ingrediente.</p>
{% endif %}
<div class="" >
    <a href="javascript:history.back()" class=" btn btn-primary m-3"> Volver</a>
</div>
{% endblock %}