{% extends 'core/base.html'%}
{% load static %}
{% block title %}{{ receta.nombre }}{% endblock %}
{%block subtitle %}{{ receta.nombre }}{% endblock %}
{% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{message}}
                    </div>
                {% endfor %}
{%block content %}
<div class="container">
<div class="col p-2">
    <div class="card">
        <img src="{% static '' %}recetas_imagenes/{{ item.recetas.imagen}}" class="card-img-top" alt="imagen plato">
        <div class="card-body">
        <h5 class="card-title">{{ item.recetas.nombre }}</h5>
        <p class="card-text"><small class="text-body-secondary">{{ item.recetas.get_dificultad_display}}</small></p>
        <p class="card-text">
            
            {% for ingrediente in recetasingredientes.all %}
                <li>{{ ingrediente.nombre }}
            {% endfor %}</p>

            <p class="card-text">{{receta.descripcion }}</p>
        </div>
        <div class="d-flex justify-content-end">
        {%include 'core/botones.html'%}
        </div>
        
    </div>
    </div>
    <div class="" >
        <a href="javascript:history.back()" class=" btn btn-primary m-3"> Volver</a>
    </div>
</div>

{% endblock %}

